{% extends "base.html" %}

{% block title %}{{ user.first_name }} {{ user.last_name }} - Profile{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="{{ user.profile_image or url_for('static', filename='img/default-profile.png') }}" alt="Profile Image" class="img-fluid rounded-circle mb-3">
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Username</dt>
                <dd class="col-sm-8">{{ user.username }}</dd>

                <dt class="col-sm-4">Email</dt>
                <dd class="col-sm-8"><a href="mailto:{{ user.email }}">{{ user.email }}</a></dd>

                <dt class="col-sm-4">Graduation Year</dt>
                <dd class="col-sm-8">{{ user.graduation_year or 'N/A' }}</dd>

                <dt class="col-sm-4">Degree</dt>
                <dd class="col-sm-8">{{ user.degree or 'N/A' }}</dd>

                <dt class="col-sm-4">Current Job Title</dt>
                <dd class="col-sm-8">{{ user.current_job_title or 'N/A' }}</dd>

                <dt class="col-sm-4">Location</dt>
                <dd class="col-sm-8">{{ user.location or 'N/A' }}</dd>

                <dt class="col-sm-4">Bio</dt>
                <dd class="col-sm-8">{{ user.bio or 'N/A' }}</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
